[submodule "redist/QXT"]
	path = redist/QXT
	url = git@git.okocenter.ru:externals/qxt_bin.git
[submodule "redist/tbb"]
	path = redist/tbb
	url = git@git.okocenter.ru:externals/tbb.git
[submodule "redist/plugins"]
	path = redist/plugins
	url = git@git.okocenter.ru:externals/qt_plugins_bin.git
[submodule "redist/GraphicsIpp"]
	path = redist/GraphicsIpp
	url = git@git.okocenter.ru:externals/graphics_ipp.git
[submodule "redist/ipp"]
	path = redist/ipp
	url = git@git.okocenter.ru:externals/ipp.git
[submodule "redist/qtsingleapplication"]
	path = redist/qtsingleapplication
	url = git@git.okocenter.ru:externals/qtsingleapplication.git
[submodule "cmake"]
	path = cmake
	url = git@git.okocenter.ru:externals/cmake.git
[submodule "src/CISCommonLib"]
	path = src/CISCommonLib
	url = git@git.okocenter.ru:externals/ciscommonlib.git
[submodule "redist/protobuf"]
	path = redist/protobuf
	url = git@git.okocenter.ru:externals/protobuf_bin.git
[submodule "tools/cxxmock"]
	path = tools/cxxmock
	url = git@git.okocenter.ru:externals/cxxmock.git
[submodule "tools/cxxtest"]
	path = tools/cxxtest
	url = git@git.okocenter.ru:externals/cxxtest.git
[submodule "src/server/core/protobuf"]
	path = src/server/core/protobuf
	url = git@git.okocenter.ru:zaviruha/protobuf.git
[submodule "redist/libmysql"]
	path = redist/libmysql
	url = git@git.okocenter.ru:externals/libmysql.git
[submodule "redist/qwt"]
	path = redist/qwt
	url = git@git.okocenter.ru:pyarovoy/qwt-6-1-3.git
