[submodule "redist/QXT"]
	path = redist/QXT
	url = git@192.168.137.67:externals/qxt_bin.git
[submodule "redist\\tbb"]
	path = redist\\tbb
	url = git@192.168.137.67:externals/tbb.git
[submodule "redist/plugins"]
	path = redist/plugins
	url = git@192.168.137.67:externals/qt_plugins_bin.git
[submodule "redist/GraphicsIpp"]
	path = redist/GraphicsIpp
	url = git@192.168.137.67:externals/graphics_ipp.git
[submodule "redist/ipp"]
	path = redist/ipp
	url = git@192.168.137.67:externals/ipp.git
