[submodule "redist/QXT"]
	path = redist/QXT
	url = git@192.168.137.67:externals/qxt_bin.git
[submodule "redist/tbb"]
	path = redist/tbb
	url = git@192.168.137.67:externals/tbb.git
[submodule "redist/plugins"]
	path = redist/plugins
	url = git@192.168.137.67:externals/qt_plugins_bin.git
[submodule "redist/GraphicsIpp"]
	path = redist/GraphicsIpp
	url = git@192.168.137.67:externals/graphics_ipp.git
[submodule "redist/ipp"]
	path = redist/ipp
	url = git@192.168.137.67:externals/ipp.git
[submodule "redist/qtsingleapplication"]
	path = redist/qtsingleapplication
	url = git@192.168.137.67:externals/qtsingleapplication.git
[submodule "cmake"]
	path = cmake
	url = git@192.168.137.67:externals/cmake.git
[submodule "src/CISCommonLib"]
	path = src/CISCommonLib
	url = git@192.168.137.67:externals/ciscommonlib.git
[submodule "redist/protobuf"]
	path = redist/protobuf
	url = git@192.168.137.67:externals/protobuf_bin.git
[submodule "tools/cxxmock"]
	path = tools/cxxmock
	url = git@192.168.137.67:externals/cxxmock.git
[submodule "tools/cxxtest"]
	path = tools/cxxtest
	url = git@192.168.137.67:externals/cxxtest.git
[submodule "src/server/core/protobuf"]
	path = src/server/core/protobuf
	url = git@192.168.137.67:zaviruha/protobuf.git
